<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url "todo_list_create" %}">Create a New List</a>
        </p>
        <p>
          <a href="{% url "todo_item_create" %}">Create a New Item</a>
        </p>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of Items</th>
          </thead>
          <tbody>
            {% for list in todo_list %}
              <tr>
                <td>
                  <a href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a>
                </td>
                <td>{{ list.items.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
